#wrap{
    margin: 8px auto 6px;
    position: relative;
    magin: 0 auto;
    text-align: center;
}
#board_area{
    background-color: white;
    /*border:1px solid black;*/
    border-top: none;
    /*float:left;*/
    display:inline-block;
}

#block_area{
    /*float: right;*/
    border:1px solid black;
    display:inline-block;
}
.board_row {
    height:28px;
}

.board_row .slot{
    height:28px;
    width:38px;
    border:1px solid black;
    float:left;

}

.block {
    padding:3px;
    background:#bada55;
    border:1px solid;
    margin:1px;
    display:inline-block;
}

.run-btn{
    float:right;
}
/*.row div{
    height:48px;
    width:48px;
    border:1px solid blue;
    float:left;

}*/
