<template name="challenge">
  <div id="content" class="container">
      <div class="template-dashboard">
        <link rel="stylesheet" type="text/css" href="css/board.css" />

        <div class="page-header">
          <h1>Insertion Sort - Part 1</h1>

          <div id="game_status_correct" class="alert alert-success alert-dismissible collapse" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Good Job!</strong> You're doing great keep working on more challenges
          </div>

          <div id="game_status_incorrect" class="alert alert-danger alert-dismissible collapse" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Incorrect!</strong> Wow you really suck!
          </div>

          <div id="wrap">
          		<div id="board_area"></div>

          		<div id="block_area"></div>

          </div>
          <a class="run-btn btn btn-primary navbar-btn">Run code!</a>
        </div>

        <div >
            <div class ="span-md-11">
                <div class="msB">
                    <p>
                        <strong>Problem Statement</strong>
                    </p>
                </div>
                <div class="msB">
                    {{{challenge.problem}}}
                </div>
            </div>
        </div>
    </div>




    <!-- <ul class="list-group">
        <li class="list-group-item">{{ challenge.problem }} <span class="label label-default">{{ rating }}</span></li>

    </ul>
     -->
    <div id="code" style="display:none">{{challenge.code}}</div>

  </div>
</template>
